@using System.ServiceModel.Channels
@using Microsoft.Ajax.Utilities
@using TechMVCDatabase.Models

@model IEnumerable<TechMVCDatabase.Models.TechDetail>
@{
    ViewBag.Title = "Gadget HUB";
}

<div class="jumbotron jumbotron-cs">
    
    @*<video controls="controls" autoplay >
        <source src="~/App_Data/342125205.mp4"  type="video/mp4" />
    </video>">*@
        @*<iframe width="auto" height="215" src="https://www.youtube.com/embed/LbSy3Nn4TuE" frameborder="0"></iframe>*@
    
    <p class="lead"></p>
</div>

<section>
    <div class="container-fluid">
        <div class="row creatRow-cs ">
            <div class="col-md-2 btn btn-default createLabel">

                @Html.ActionLink("Create Record", "CreatRecord")

            </div>
            <div class="col-md-7 col-md-offset-3">
                @using (Html.BeginForm())
            {
                    <span class="dropdown dropdown-menu-left dropdown-cs">Category:  @Html.DropDownList("techCategory", "All")</span>
                    <span class="dropdown-cs">Brand:  @Html.DropDownList("techBrand", "All")</span>
                    <span class="dropdown-cs">Model:  @Html.TextBox("searchString")</span>
                    <input type="submit" value="Filter" class="btn btn-default btn-filter" />

                }
            </div>
        </div>

        <div class="row row-display">
            <div class="col-md-12">
                @*<table class="table-responsive table table-bordered">*@
                @*<tr>
                            <td>@Html.DisplayNameFor(model => model.Brand)</td>
                            <td>@Html.DisplayNameFor(model => model.ModelName)</td>
                          <td>@Html.DisplayNameFor(model => model.Category)</td>
                            <td>@Html.DisplayNameFor(model => model.Price) </td>
                    <td>@Html.DisplayNameFor(model => model.Photo)
                    </td>
                        </tr>*@
                @{
                    var c = Model.Any();

                }
                @foreach (var item in Model)
                {
                    <div class="col-md-3 column-display">
                        <p>@Html.DisplayFor(t => item.Brand) - @Html.DisplayFor(t => item.ModelName)</p>

                        <a href="@Url.Action("DetailRecord", new {id=item.Id})"><img src="@Url.Content(@item.Photo)" alt="item.AlternateText" class="imgGallary-cs img-responsive" /></a>

                        <p>£@Html.DisplayFor(t => item.Price)</p>
                        <div class="row rowLabel-cs">
                            <div class="col-md-3 columnlable-cs"><span>@Html.ActionLink("Detail", "DetailRecord", new { id = item.Id })</span></div>
                            <div class="col-md-3 columnlable-cs"><span>@Html.ActionLink("Edit", "EditRecord", new { id = item.Id })</span></div>
                            <div class="col-md-3 columnlable-cs"><span>@Html.ActionLink("Delete", "DeleteRecord", new { id = item.Id })</span></div>

                            @*<span>@Html.ActionLink("Compare", "CreatRecord")</span>*@
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
